%btn, .btn {
    text-transform: uppercase;
    text-decoration: none;
    transition: opacity 0.5s ease, background-color 0.5s ease;
    font-weight: 600;
    font-variation-settings: 'wght' 600;

    body:not(.shadows-disabled) & {
        @include adjusted-shadow(0.7);
    }
    i {
        display:inline-block;
        text-decoration: none;
        vertical-align: middle;
        font-size: 1.35em;
    }
    &:hover {
        text-decoration: underline;
        opacity: 0.8;
    }
    /*
    &:focus {
        outline-style: auto;
        outline-width: 1px;
    }
    */

    //outline button styling support with respect for blocks stylings
    body.btn-style-outline *:not(.is-style-fill) > &:not(.btn-fill),
    .is-style-outline & {
        border-width: 2px; 
        padding: $btn-padding-y*0.9 $btn-padding-x*0.9;
        &:not(:hover) {
            background-color: transparent !important;
            border-color: currentColor !important;
        }
        &:hover {
            text-decoration: none;
            opacity: 1;
        }
    }

    p & {
        margin: 0 0.5em;
    }

    //bootstrap4-buttons.scss start
    display: inline-block;
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    color: $body-color;
    text-align: center;
    white-space: $btn-white-space;
    vertical-align: middle;
    cursor: if($enable-pointer-cursor-for-buttons, pointer, null);
    user-select: none;
    border: $btn-border-width solid transparent;
    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);

    &:focus,
    &.focus {
      outline: 0;
      box-shadow: $btn-focus-box-shadow;
    }
  
    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
      opacity: $btn-disabled-opacity;
      @include box-shadow(none);
    }
  
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      @include box-shadow($btn-active-box-shadow);
  
      &:focus {
        @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
      }
    }
    //bootstrap4-buttons.scss end

    @supports ( font-variation-settings: normal ) {
        body.font-up &{
            padding-bottom: $btn-padding-y+0.15rem;
        }
        body.font-down & {
            padding-top: $btn-padding-y+0.15rem;
        }
    }
}
.btn-outline {
    border-width: 2px;
    &:not(:hover) {
        background-color: transparent !important;
        border-color: currentColor !important;
    }
    &:hover {
        text-decoration: none;
        opacity: 1;
    }
}

//bootstrap4-buttons.scss start
  
// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
pointer-events: none;
}


//
// Button Sizes
//

.btn-lg {
@include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}

.btn-sm {
@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}


//
// Block button
//

.btn-block {
display: block;
width: 100%;

// Vertically space out multiple block buttons
+ .btn-block {
    margin-top: $btn-block-spacing-y;
}
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
&.btn-block {
    width: 100%;
}
}

//bootstrap4-buttons.scss end