//Add your own editor styles here or comment out the next line if you want to pull in the whole Bootstrap stuff
$editor: true;

$selectors: (
    body: '.editor-styles-wrapper',
    root: '.editor-styles-wrapper',
    entry-content: '.editor-styles-wrapper',
    align-wide: '[data-align=wide]',
    align-full: '[data-align=full]',
    align-none: '[data-align=center]',
    align-center: '[data-align=center]',
    block-group: '[data-type="core/group"]',
    block-columns: '[data-type="core/columns"]',
    block-column-childs: '[data-type="core/column"] .editor-block-list__layout >',
    block-button: '[data-type="core/button"]',
    block-archives: '[data-type="core/archives"]',
    block-categories: '[data-type="core/categories"]',
    block-code: '[data-type="core/code"]',
    block-cover: '[data-type="core/cover"]',
    block-embed: '[data-type="core/embed"]',
    block-calendar: '[data-type="core/calendar"]',
    block-gallery: '[data-type="core/gallery"]',
    block-latest-comments: '[data-type="core/latest-comments"]',
    block-latest-posts: '[data-type="core/latest-posts"]',
    block-media-text: '[data-type="core/media-text"]',
    block-preformatted: '[data-type="core/preformatted"]',
    block-pullquote: '[data-type="core/pullquote"]',
    block-quote: '[data-type="core/quote"]',
    block-verse: '[data-type="core/verse"]',
    block-video: '[data-type="core/video"]',
    block-separator: '[data-type="core/separator"]',
    block-image: '[data-type="core/image"]',
);

//@import "theme";

@import "theme/variables";

//$spacer: 2em;

@import "assets/bootstrap4-editor";      // <-------- Loads Bootstrap4
//@import "understrap/understrap";  // <-------- Loads the UnderStrap defaults. Just a few classes to incorporate BS in WP

// Optional files - If you dont use the corresponding scripts/fonts comment em out
//@import "assets/icomoon";    // <-------- Font Awesome Icon font
//@import "assets/underscores";     // <-------- Underscores media styles
@import "assets/fonts";


//@import "theme/animations";
@import "theme/mixins";

@import "theme/color-palletes";
@import "theme/general";

@import "theme/elements/headers";
@import "theme/elements/buttons";

@import "theme/blocks";
@import "theme/alignment";
@import "theme/content";

.wp-block {
    max-width: calc( var(--content-width) - #{$grid-gutter-width} );
}

[data-align=wide] {
    left: 0;
    .wp-block {
        max-width: 100%;
    }
}

[data-align=full] {
    max-width: none;
    left: 0;
    width: auto;
    [data-align=full] .wp-block {
        max-width: 100%;
    }
}

[data-align=left], [data-align=right] {
    margin: 0 auto;
    max-width: var(--site-width);

    .wp-block-cover {
        width: calc( var(--content-width) / 2 );
        max-width: calc( var(--content-width) / 2 );
    }
}

.wp-block-group__inner-container .editor-inner-blocks > .editor-block-list__layout > {
    .wp-block:first-child {
        margin-top: 0;
    }
    .wp-block:last-child {
        margin-bottom: 0;
    }
}

.wp-block-search .wp-block-search__button .wp-block-search__button-rich-text {
    padding: 0;
}

.wp-block-cover .block-editor-block-list__block {
    color: inherit;
}

.block-editor-block-preview__content .block-editor-block-list__block {
    margin-top: 0;
    margin-bottom: 0;
}