$editor: false;

$selectors: (
    body: 'body',
    root: ':root',
    entry-content: '.entry-content',
    align-wide: '.alignwide',
    align-full: '.alignfull',
    align-none: '.alignnone',
    align-center: '.aligncenter',
    align-left: '.alignleft',
    align-right: '.alignright',
    block-group: '.wp-block-group',
    block-columns: '.wp-block-columns',
    block-button: '.wp-block-button',
    block-archives: '.wp-block-archives',
    block-categories: '.wp-block-categories',
    block-code: '.wp-block-code',
    block-cover: '.wp-block-cover',
    block-embed: '.wp-block-embed',
    block-calendar: '.wp-block-calendar',
    block-gallery: '.wp-block-gallery',
    block-latest-comments: '.wp-block-latest-comments',
    block-latest-posts: '.wp-block-latest-posts',
    block-media-text: '.wp-block-media-text',
    block-preformatted: '.wp-block-preformatted',
    block-pullquote: '.wp-block-pullquote',
    block-quote: '.wp-block-quote',
    block-verse: '.wp-block-verse',
    block-video: '.wp-block-video',
    block-separator: '.wp-block-separator',
    block-image: '.wp-block-image',
);

@import "theme/variables";

@import "assets/bootstrap4";      // <-------- Loads Bootstrap4
@import "understrap/understrap";  // <-------- Loads the UnderStrap defaults. Just a few classes to incorporate BS in WP

// Optional files - If you dont use the corresponding scripts/fonts comment em out
@import "assets/icomoon";    // <-------- Font Awesome Icon font
//@import "assets/underscores";     // <-------- Underscores media styles
@import "assets/fonts";

// Any additional imported files //
@import "theme/theme";            // <-------- That's where you can add your own design. Thats your part!
