%block-spacing,
#{map-get($selectors, 'block-group')},
#{map-get($selectors, 'block-button')}, 
#{map-get($selectors, 'block-archives')},
#{map-get($selectors, 'block-categories')},
#{map-get($selectors, 'block-code')},
#{map-get($selectors, 'block-columns')},
#{map-get($selectors, 'block-cover')},
#{map-get($selectors, 'block-embed')},
#{map-get($selectors, 'block-calendar')},
#{map-get($selectors, 'block-gallery')},
#{map-get($selectors, 'block-group')},
#{map-get($selectors, 'block-latest-comments')},
#{map-get($selectors, 'block-latest-posts')},
#{map-get($selectors, 'block-media-text')},
#{map-get($selectors, 'block-preformatted')},
#{map-get($selectors, 'block-pullquote')},
#{map-get($selectors, 'block-quote')},
#{map-get($selectors, 'block-verse')},
#{map-get($selectors, 'block-video')},
#{map-get($selectors, 'block-separator')},
#{map-get($selectors, 'block-image')} {
	margin-bottom: $spacer;
	margin-top: $spacer;
}


.wp-block-group {
	&.has-background {
		padding: $spacer*2/3;
	}
	.wp-block-group.has-background {
		padding: $spacer*1/2;
	}
	&.alignwide.has-background {
		padding:$spacer $spacer;
	}
	&.alignfull.has-background {
		padding:$spacer $spacer;
	}
	@include media-breakpoint-up(md) {
		&.has-background {
			padding: $spacer*4/3;
			.wp-block-group.has-background {
				padding: $spacer*2/3;
			}
		}
	}
}

.wp-block-cover {
	@extend .jumbotron;
	[class*="__inner-container"] {
		color: inherit;
	}
	[class*="__inner-container"] [class*="__inner-container"] {
		max-width: 100%;
	}
}

.wp-block-cover:not([class*="background-color"]) {
	@extend %color-boxes;
	@extend %color-boxes-blocks;
}

[class*="__inner-container"] {
	margin: 0 auto;
	max-width: 100%;

	> * {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
		@include media-breakpoint-up(md) {
			.aligncenter:first-child {
				margin-top: $spacer/3;
			}
			.aligncenter:last-child {	
				margin-bottom: $spacer/3;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		.alignfull & {
			max-width: calc( var(--content-width) - #{$grid-gutter-width} );
		}
		.alignfull .alignfull & {
			max-width: calc( 100% - #{$grid-gutter-width} );
		}
	}
}

.wp-block-column {
	margin-bottom: $spacer*2/3;
	> {
		* {
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.alignfull:not([class*="has-background"]) & {
		> p:not(.has-background-color) {
			padding-left: $spacer*2/3;
			padding-right: $spacer*2/3;
		}
	}
	@include media-breakpoint-down(sm) {
		&:last-child {
			//margin-bottom: 0;
		}
	}
	@include media-breakpoint-up(sm) {
		margin-bottom: 0;
		.alignfull:not([class*="has-background"]) & {
			&:nth-child(odd) > p:not(.has-background-color) {
				padding-left: $spacer*2/3;
				padding-right: 0;
			}
			&:nth-child(even) > p:not(.has-background-color) {
				padding-right: $spacer*2/3;
				padding-left: 0;
			}
		}
	}
}


.wp-block-archives, .wp-block-categories, .wp-block-latest-posts, .wp-block-latest-comments, .wp-block-latest-posts {
	list-style: none;
	padding-left: 0;
	ul {
		list-style: none;
	}
	a {
		font-weight: 700;
	}
}

.wp-block-image,
.wp-block-embed {
	figcaption {
		@extend .figcaption;
    }
}
.wp-block-image {
    img  {
        margin: 0 auto;
	}
	figcaption {
		color: inherit;
	}
	&.alignfull figcaption {
		text-align: center;
		max-width: calc( 100% - #{$grid-gutter-width} );
	}
}
.wp-block-gallery {
	ul {
		list-style: none;
		margin: 0 0 -1.6rem 0;
	}
	@include media-breakpoint-up(md) {
		&.alignnone {
			margin-bottom: $spacer*4/3;
			margin-top: $spacer*4/3;
		}
		&.aligncenter {
			margin-bottom: $spacer*4/3;
			margin-top: $spacer*4/3;
		}
		&.alignwide {
			margin-bottom: $spacer*2;
			margin-top: $spacer*2;
		}
		&.alignfull {
			margin-bottom: $spacer*2;
			margin-top: $spacer*2;
		}
	}
}

.wp-block-latest-posts {
	&.is-grid {
		margin-left: 0;
		li {
			border-top: 2px solid currentColor;
			border-top: 2px solid var(--color-accent);
			margin-top: $spacer*2/3;
			padding-top: 1rem;
		}
	}
	&.has-dates {
		margin-left: 0;
		list-style: none;
		li {
			margin-left: 0;
		}
		&:not(.is-grid) li {
			margin-top: 1.5rem;
			&:first-child {
				margin-top: 0;
			}
		}
	}
}

.wp-block-pullquote {
	padding: 0;
	position: relative;
	border-top: none;
	border-bottom: none;
	&.alignleft,
	&.alignright {
		max-width: 100%;
	}
	blockquote {
		border: none;
		margin: 0;
		padding: 0;
		p {
			font-family: inherit;
			font-size: 2.8em;
			font-weight: 700;
		}
	}
	cite {
		opacity: 0.8;
		font-size: 1em;
		font-weight: 500;
		margin-top: $spacer * 0.5;
	}
	&.is-style-solid-color {
		padding: $spacer $spacer*2/3;
		&.alignleft::before {
			transform: translateY(-50%);
			left: $spacer*2/3;
		}
		&.alignright::before {
			transform: translateY(-50%);
			left: auto;
			right: $spacer*2/3;
		}
		blockquote {
			max-width: 100%;
			text-align: inherit;
		}
		cite {
			color: inherit;
		}
		&:before {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
		}
	}
	p:last-of-type {
		margin-bottom: 0;
	}
	&::before {
		color: currentColor;
		color: var(--color-accent-hl);
		content: "”";
		display: block;
		font-size: 4em;
		line-height: 0.75;
		margin: 0 auto $spacer*2/3 auto;
		text-align: center;
		height: 1rem;
	}
	@include media-breakpoint-up(sm) {
		&.alignleft, &.alignleft::before {
			text-align: left;
		}
		&.alignright, &.alignright::before {
			text-align: right;
		}
	}
	@include media-breakpoint-up(md) {
		cite {
			margin-top: $spacer*2/3;
		}
		&.alignfull {
			&:not(.is-style-solid-color) {
				padding-left: $spacer*1/3;
				padding-right: $spacer*1/3;
			}
			blockquote p {
				font-size: 1.8em;
			}
		}
		&.alignwide::before,
		&.alignfull::before {
			font-size: 8em;
			height:2rem;
		}
		&.alignleft,
		&.alignright {
			p {
				font-size: 1.5em;
			}
		}
		&.is-style-solid-color {
			&.alignwide,
			&.alignfull {
				padding: $spacer*2 $spacer*4/3 $spacer*4/3;
			}
		}
		blockquote p {
			font-size: 1.5em;
		}
		&.alignwide blockquote p {
			font-size: 1.8em;
		}
	}
}
.wp-block-quote {
    &.is-large,
	&.is-style-large {
		border: none;
		padding: 0;
		p {
			font-family: inherit;
			font-size: 1.4em;
			font-style: normal;
			font-weight: 700;
            line-height: 1.285;
            @include media-breakpoint-up(md) {
                font-size: 1.8em;
            }
		}
		cite {
			font-size: 1em;
			text-align: inherit;
		}
		footer {
			font-size: 1em;
			text-align: inherit;
		}
	}
	p {
		text-align: inherit;
	}
	cite {
		text-align: inherit;
    }
    &[style="text-align:center"] {
        border-width: 0;
        padding: 0;
    }
    &[style="text-align:right"] {
        border-width: 0 0.2rem 0 0;
        padding: 0 $spacer*2/3 0 0;
    }
}

.wp-block-latest-comments {
	.wp-block-latest-comments__comment-meta {
		font-weight: 700;
		letter-spacing: -0.025em;
		line-height: 1.25;
	}
	.wp-block-latest-comments__comment-date {
		opacity: 0.8;
		font-size: 0.7em;
		font-weight: 600;
		letter-spacing: normal;
		margin-top: 0.15em;
		margin-top: 0.4em;
	}
}
.wp-block-latest-posts__post-date {
	opacity: 0.8;
	font-size: 0.7em;
	font-weight: 600;
	letter-spacing: normal;
	margin-top: 0.15em;
}

.wp-block-button__link, 
.wp-block-file .wp-block-file__button,
.wp-block-search__button {
	@extend %btn;
}
.wp-block-button__link {
	.btn-block & {
		@extend .btn-block;
	}
	&:active, &:focus, &:hover, &:visited {
		color: currentColor;
	}
}
.wp-block-file {
	width: 100%;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	a:not(.wp-block-file__button) {
		font-weight: 700;
		text-decoration: none;
		&:focus, &:hover {
			text-decoration: underline;
		}
		&:not(:last-child) {
			margin-right: $spacer * 0.5;
		}
	}
	.wp-block-file__button {
		margin-left: 0px;
		margin: $spacer/3 0;
	}
}
.wp-block-search {
	.wp-block-search__input {
		@extend .form-control;
		width: auto;
	}
}

.wp-block-calendar table {
	@extend table;
}

.wp-block-separator {
	// Neccessary to do it like this to overwrite blocks stylings
	&, &:not(.is-style-wide):not(.is-style-dots) {
		@extend hr;
		@include media-breakpoint-up(lg) {
			max-width: 80%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&.is-style-wide {
		@extend .alignwide;
		.alignfull &, .alignwide & {
			position: static;
			max-width: 100%;
		}
	}
	&.is-style-dots::before {
		color: inherit;
		font-size: 2.5rem;
	}
	&.is-style-dots::after {
		content: none;
    }
}