.widget {
    margin-bottom: $spacer * 0.5;
    ul {
        list-style: none;
        padding-left: 0px;
    }
    a {
        font-weight: bold;
    }
    .widget-title {
        &::before, &::after {
            display: none;
        }
    }
    .sidebar-widget &:first-child .widget-title {
        margin-top: 0;
    }
}