.entries-row {
    article {
        position: relative;
        margin-bottom: $spacer;
        /*
        padding-bottom: $spacer;
        &::after {
            content:"";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            @extend %hr;
            color: var(--color-bg-alt);
            border: 1px solid var(--color-bg-alt);
        }
        */
    }
    .entry-header {
        margin-bottom: $spacer*2/3;
    }
}
.entry-col-boxed {
    .entry-col {
        margin-bottom: $spacer*2/3;
    }
    article {
        @extend %color-boxes;
        height: 100%;
        margin-bottom: 0px;
        padding: $spacer*2/3;
        border-radius: $border-radius;
        body:not(.shadows-disabled) & {
            @include adjusted-shadow();
        }
        .entry-title a {
            color: inherit;
        }
        &::after {
            display: none;
        }
    }
    &.image-on-top {
        article {
            display: flex;
            flex-direction: column
        }
        .entry-featured-image {
            margin: -#{$spacer*2/3} -#{$spacer*2/3} $spacer*2/3;
            order: -1;
            text-align: center;
        }
    }
    &.image-disabled .entry-featured-image {//CUSTOMIZER-ONLY
        display: none;
    }
}



.page-header {
    margin-bottom: $spacer;
    .page-title {
        margin-bottom: $spacer*1/3;
    }
    .breadcrumbs {
        display: inline-block;
    }
    .breadcrumb {
        padding: 0;
        .active {
            :before {
                padding-right: 0;
            }
            span {
                @include sr-only;
            }
        }
    }

    .breadcrumbs.hero-has-breadcrumb-top-right.hero-enabled {//CUSTOMIZER-ONLY
        display: none;
    }
}

.entry-title {
    a {
        text-decoration: none;
        &, &:hover {
           color: var(--color-bg-contrast); 
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

.entry-content {
	@include clearfix;

	> *:first-child {
		margin-top: 0;
	}
	> *:last-child {
		margin-bottom: 0;
	}
}

.entry-featured-image {
    margin: $spacer 0;
}

.post-meta {
	a, .post-sticky .meta-text {
		font-weight: 500;
		font-variation-settings: 'wght' 500;
	}
}

.post-navigation {
	margin-top: $spacer * 0.5;
	.btn {
		margin-top: $spacer * 0.5;
	}
}

.pagination {
    display: inline-flex;
    body:not(.shadows-disabled) & {
        @include adjusted-shadow(0.5);
    }
}

.page-link {
    text-decoration: none;
    color: var(--color-boxes-contrast);
    background-color: var(--color-boxes);
    border: none;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.page-item {
    &.active .page-link, a:hover {
        z-index: 1;
        border-color: inherit;
    }
    a:hover {
        color: var(--color-boxes-accent-contrast);
        background-color: var(--color-boxes-accent);
        opacity: 1;
    }
    &.active .page-link{
        color: var(--color-boxes-accent-hl-contrast);
        background-color: var(--color-boxes-accent-hl);
    }
}