body.sidebars-check-sticky {
    #right-sidebar .sidebar-widget-area-content {
        top: calc( var(--header-main-height) + #{$spacer} );
    }
    #left-sidebar .sidebar-widget-area-content {
        top: calc( var(--header-main-gap-height) + var(--header-main-height) + #{$spacer*1.25} );
    }
    @include media-breakpoint-up(md) {
        .sidebar-widget-area-content.sidebar-sticky {
            position: sticky;
        }
    }
}

.sidebar-widget-area-boxed {
    .sidebar-widget-area-content {
        @extend %color-boxes;
        padding: $spacer * 0.5 $spacer*2/3;
        border-radius: $border-radius;
        body:not(.shadows-disabled) & {
            @include adjusted-shadow();
        }
    }
}